.main-navbar {
  position: sticky;
  z-index: 999;
  top: 0;
  height: 10vh;
  width: 100%;
  background-color: navy;
}

.navbar-items {
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: end;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 2rem;
  color: white;
  font-weight: 500;
}

