.sidebar-container {
  position: relative;
  width: 25%;
  left: 1%;
  background-color: rgb(4, 4, 95);
  border: 1px solid rgb(4, 4, 95);
}

.button-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.search-form {
  /* width: 100%; */
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.search-form input[type="text"] {
  padding: 0.7rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(4, 4, 95);
  background-color: white;
  margin: 0.4rem;
}

.primary-button {
  background-color: white;
  padding: 0.7rem;
  color: rgb(4, 4, 95);
  border: 1px solid rgb(4, 4, 95);
  border-radius: 0.5rem;
  width: 100%;
  margin: 0.4rem;
}
