.sidebar-container {

  width: 25%;
  background-color: rgb(4, 4, 95);
  border: 1px solid rgb(4, 4, 95);
}

.button-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-div {
  display: flex;
  height: 2rem;
  padding: .5rem;
}
.search-form {
  width: 100%; 
   display: flex;
  justify-content: center;
}

.search-form input[type="text"] {
  padding: 0.7rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(4, 4, 95);
  background-color: white;
  width: 100%;

}

.primary-button {
  background-color: white;
  padding: 0.7rem;
  color: rgb(4, 4, 95);
  border: 1px solid rgb(4, 4, 95);
  border-radius: 0.5rem;
  width: 100%;
  margin: 0.4rem;
}
